xsds/openligadb/ArrayOfMatch.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--
  Liste von Spielen von openligadb.de.

  Maintainer: Richard Neumann <r dot neumann at homeinfo fullstop de>
-->

<xs:schema  xmlns="http://schemas.datacontract.org/2004/07/OLDB.Spa.Models.Api"
            xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
            targetNamespace="http://schemas.datacontract.org/2004/07/OLDB.Spa.Models.Api"
            elementFormDefault="qualified">
    <xs:include schemaLocation="Match.xsd"/>

    <xs:element name="ArrayOfMatch" type="ArrayOfMatchType">
        <xs:annotation>
            <xs:documentation xml:lang="de">
                Wurzelelement.
            </xs:documentation>
        </xs:annotation>
    </xs:element>


    <xs:complexType name="ArrayOfMatchType">
        <xs:annotation>
            <xs:documentation xml:lang="de">
                Liste von Spielen.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Match" type="MatchType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Einzelne Spiele.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
